credentials/*
secrets/*
config/*
**/*.pyc

helm/nautilus-sftp-gateway/secrets/*
helm/nautilus-sftp-gateway/values.yaml
helm/nautilus-sftp-gateway/values/*

env/
!env/users/sample
!env/common
!env/sample
!env/config/

.vscode
.DS_Store

data/