
title = "gitleaks config"

[[rules]]
	description = "AWS Manager ID"
	regex = '''(A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}'''
	tags = ["key", "AWS"]

[[rules]]
	description = "AWS cred file info"
	regex = '''(?i)(aws_access_key_id|aws_secret_access_key)(.{0,20})?=.[0-9a-zA-Z\/+]{20,40}'''
	tags = ["AWS"]

[[rules]]
	description = "AWS Secret Key"
	regex = '''(?i)aws(.{0,20})?(?-i)['\"][0-9a-zA-Z\/+]{40}['\"]'''
	tags = ["key", "AWS"]

[[rules]]
	description = "AWS MWS key"
	regex = '''amzn\.mws\.[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'''
	tags = ["key", "AWS", "MWS"]

[[rules]]
	description = "Github"
	regex = '''(?i)github(.{0,20})?(?-i)['\"][0-9a-zA-Z]{35,40}['\"]'''
	tags = ["key", "Github"]

[[rules]]
	description = "PRIVATE"
	regex = '''-----BEGIN PRIVATE KEY-----'''
	tags = ["key", "PRIVATE"]
	[[rules.whitelist]]
	    file = '''^gitleaks.toml$'''

[[rules]]
	description = "EC"
	regex = '''-----BEGIN EC PRIVATE KEY-----'''
	tags = ["key", "EC"]
	[[rules.whitelist]]
	    file = '''^gitleaks.toml$'''

[[rules]]
	description = "DSA"
	regex = '''-----BEGIN DSA PRIVATE KEY-----'''
	tags = ["key", "DSA"]
	[[rules.whitelist]]
	    file = '''^gitleaks.toml$'''

[[rules]]
	description = "RSA"
	regex = '''-----BEGIN RSA PRIVATE KEY-----'''
	tags = ["key", "RSA"]
	[[rules.whitelist]]
	    file = '''^gitleaks.toml$'''

[[rules]]
	description = "OPENSSH"
	regex = '''-----BEGIN OPENSSH PRIVATE KEY-----'''
	tags = ["key", "OPENSSH"]
	[[rules.whitelist]]
	    file = '''^gitleaks.toml$'''

[[rules]]
	description = "Google API key"
	regex = '''AIza[0-9A-Za-z\\-_]{35}'''
	tags = ["key", "Google"]

[[rules]]
	description = "Env Var"
	regex = '''(?i)(api_key|apikey|api|password|pw|host)=[0-9a-zA-Z-_{}]{4,120}'''

[[rules]]
	description = "Generic Credential"
	regex = '''(?i)(dbpasswd|dbuser|dbname|dbhost|api_key|apikey|api|password|hostname|pw)(.{0,20})?['|"][0-9a-zA-Z-_!{}/=]{4,120}['|"]'''
	tags = ["key", "API", "generic"]
	[[rules.whitelist]]
	    file = '''^gitleaks.toml$'''

[Global]
    file = '''(?i)(id_rsa|passwd|id_rsa.pub|pgpass|pem|key|shadow)'''
