[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
radon = "4.1.0"
pytest = "5.3.5"
pytest-cov = "2.8.1"
pystache = "0.5.4"
google-api-python-client = "1.7.11"
click = "7.0"
python-dotenv = "0.11.0"
pyyaml = "5.3"

[packages]
pystache = "0.5.4"
loguru = "0.4.1"
inotify-simple = "1.3.3"
google-cloud-storage = "1.26.0"
google-auth = "1.11.2"
google-auth-httplib2 = "0.0.3"

[requires]
python_version = "3.7"
