#IgnoreRhosts yes

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication no
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM yes

LogLevel VERBOSE
SyslogFacility {{syslog_facility}}

PubkeyAuthentication yes

AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
GatewayPorts no
X11Forwarding no
PermitTTY no
PrintMotd no
PermitUserEnvironment no
PermitRootLogin no
PermitTunnel no
Port {{ssh_port}}
AuthorizedKeysFile {{authorized_keys_file}}
ChrootDirectory {{landing_directory}}

AuthenticationMethods publickey

ForceCommand internal-sftp -l VERBOSE -f {{syslog_facility}} -p open,close,read,write,lstat,fstat,opendir,readdir,realpath,stat,rename,posix-rename

AcceptEnv LANG LC_*

# override default of no subsystems
#Subsystem	sftp	/usr/lib/openssh/sftp-server -l INFO -f {{syslog_facility}}
Subsystem sftp internal-sftp -l VERBOSE -f {{syslog_facility}} -p open,close,read,write,lstat,fstat,opendir,readdir,realpath,stat,rename,posix-rename

AllowUsers {{user}}
