#IgnoreRhosts yes

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication yes
KbdInteractiveAuthentication yes
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

AcceptEnv LANG LC_*

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM yes

LogLevel VERBOSE

PubkeyAuthentication yes

AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
GatewayPorts no
X11Forwarding no
PermitTTY no
PrintMotd no
PermitUserEnvironment no
PermitRootLogin no
PermitTunnel no
Port {{ssh_port}}
ChrootDirectory %h

AuthenticationMethods publickey password keyboard-interactive

ForceCommand internal-sftp -p open,close,read,write,lstat,fstat,setstat,opendir,readdir,mkdir,rmdir,realpath,stat,rename,posix-rename

# override default of no subsystems
Subsystem sftp internal-sftp -p open,close,read,write,lstat,fstat,setstat,opendir,readdir,mkdir,rmdir,realpath,stat,rename,posix-rename

AllowUsers {{users}}
